#delivery-partner-section-changing-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #fff !important;
  flex: 1;
}
.animated-text-container-delivery-partner {
  width: 100% !important;
  height: 100% !important;
  background-color: #8332a8 !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  flex-direction: column !important;
}
.animated-text-container-delivery-partner h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.animated-text-container-delivery-partner span {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  color: #f4aa79;
}
.animated-text-container-delivery-partner img {
  width: 30% !important;
  height: auto;
  margin-top: 10px;
}

.partner-section-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-section-banner img {
  width: 95%;
  height: fit-content;
  border-radius: 10px;
}
.slider-delivery {
  display: none !important;
}
.page-name {
  margin-top: 80px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.page-name h1 {
  font-family: "Fredoka One", cursive;
  color: #69093d;
  text-align: center;
}
.page-name span {
  font-family: "Fredoka One", cursive;
  color: #ff4e00;
}
.divider {
  border-top: 0.5px solid #c7c7c7c7;
  border-bottom: 0.5px solid #c7c7c7c7;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
#mobile {
  display: none !important;
}

/* =============================================== */
@media only screen and (max-width: 600px) {
  .delivery-mobile {
    display: none !important;
  }
  #delivery-lottie {
    display: none;
  }
  #desktop {
    display: none !important;
  }
  #mobile {
    display: contents !important;
    margin-top: 20px;
  }
  .carousel-item {
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .carousel-item img {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px;
  }
}
