#delivery-partner-section-changing-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #fff !important;
  flex: 1;
}
.animated-text-container-delivery-partner {
  width: 100% !important;
  height: 100% !important;
  background-color: #8332a8 !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  flex-direction: column !important;
}
.animated-text-container-delivery-partner h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.animated-text-container-delivery-partner span {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  color: #f4aa79;
}
.animated-text-container-delivery-partner img {
  width: 30% !important;
  height: auto;
  margin-top: 10px;
}

/* =============================================== */
@media only screen and (max-width: 600px) {
  .delivery-mobile {
    display: none !important;
  }
  #delivery-lottie {
    display: none;
  }
}
