/* =================================
=============== FONTS ==============
font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif; 
================================= */

#shop {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #fff !important;
  flex: 1;
}
.animated-text-container-shop {
  width: 100% !important;
  height: 100% !important;
  background-color: #bf6228 !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  flex-direction: column !important;
}
.animated-text-container-shop h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.animated-text-container-shop span {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  color: #f4aa79;
}
.animated-text-container-shop img {
  width: 30% !important;
  height: auto;
  margin-top: 10px;
}
.second-section-for-shop {
  max-width: 80%;
  height: auto;
}
#shop-feature-section {
  /* background-color: #e6af88; */
  padding-top: 100px;
  padding-bottom: 100px;
}
/* .static-modal {
  display: none;
} */
.shop-section-heading h1 {
  text-align: center;
  width: 70% !important;
}
.lottie-shop {
  width: 100% !important;
  height: auto;
  margin-left: -150px;
  margin-top: -102px;
  margin-bottom: -150px;
}
.shop-section-heading h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.shop-section-heading span {
  color: #5e3360 !important;
}

.shop-details p {
  margin-top: 20px;
  font-size: 20px;
}
.shop-details-mid-section {
  margin-top: 20px;
}
.shop-details-mid-section h2 {
  font-family: "Fredoka One", cursive;
}
/* ======= Banner Section Start ======= */
.shop-banner-captions {
  margin-left: 20px;
}
.shop-banner-captions img {
  width: 20% !important;
  height: auto;
}
.shop-banner-captions span {
  color: #f4aa79 !important;
  font-family: "Fredoka One", cursive;
}
.mid-banner-lottie {
  width: 450px;
  height: 450px;
}
.shop-banner-captions h1 {
  font-family: "Fredoka One", cursive;
  color: #5e3360;
  font-size: 64px !important;
}
.shop-banner-captions p {
  font-size: 20px;
  color: #777;
}
.shop-banner-captions img {
  width: 30%;
  height: auto;
}
#banner-icon {
  font-size: 30px !important;
  margin-left: 10px;
}
#gstore {
  width: 30% !important;
  height: auto;
}

/* ======= Banner Section End ======= */

/* ==================================================================== */
@media only screen and (max-width: 600px) {
  .shop-mobile-view {
    display: none;
  }
  #shop-lottie {
    display: none;
  }
}
