/* =================================
=============== FONTS ==============
font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif; 
================================= */

/* 
======== Theme Colors ========
#3d3d3d
#FFFFFF
#FEF9E5
#E6AF88
#ff4e00
#C6B5C7
#b88cba
#5E3360 
======== Theme Colors ========
*/

/* ======= Body Start ======= */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* ======= Body End ======= */

/* ======= Top Nav Start ======= */
.top-nav {
  padding: 10px;
  background-color: #69093d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.top-nav p {
  font-family: "Open Sans", sans-serif;
  margin-right: 20px !important;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.top-nav p:hover {
  font-family: "Open Sans", sans-serif;
  margin-right: 15px !important;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}
.top-nav a {
  text-decoration: none !important;
}
/* ======= Top Nav End ======= */

/* ======= Navigation Start ======= */
.main-nav {
  display: none;
}

.navbar {
  background-color: #fef9e5 !important;
}

.navbar-brand {
  max-width: 50% !important;
}

.navbar-brand img {
  width: 20% !important;
  height: auto !important;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
}

.nav-item:hover {
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
  color: #69093d !important;
  transition: 0.2s ease-in-out !important;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
}
.nav-link span {
  font-family: "Fredoka One", cursive;
  color: #ff4e00 !important;
}

.nav-link:hover {
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
  color: #69093d !important;
  transition: 0.2s ease-in-out !important;
}

.dropdown-item {
  font-size: 16px !important;
}

#nav-icon {
  font-size: 20px !important;
  color: #69093d !important;
}

/* ======= Navigation End ======= */

/* ======= Main banner Start ======= */
.main-banner {
  padding-bottom: 150px;
  padding-top: 100px;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(170, 130, 172, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
.main-banner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.main-banner img {
  width: 50%;
  height: auto;
}
.main-banner-lottie {
  width: 350px;
  height: 350px;
}
/* ======= Main banner End ======= */

/* ======= Banner Section Start ======= */
.banner-captions {
  margin-left: 20px;
}
.banner-captions img {
  width: 80% !important;
  height: auto;
  margin-left: -30px;
}
.mid-banner-lottie {
  width: 450px;
  height: 450px;
}
.banner-captions h1 {
  font-family: "Fredoka One", cursive;
  color: #69093d;
  font-size: 44px !important;
}
.banner-captions p {
  font-size: 18px;
  color: #777;
  font-weight: bold;
}
.banner-captions img {
  width: 30%;
  height: auto;
}
#banner-icon {
  font-size: 30px !important;
  margin-left: 10px;
}
#gstore {
  width: 30% !important;
  height: auto;
}
/* ======= Banner Section End ======= */

/* ======= Static Modal Start ======= */
.static-modal {
  background-color: #fff;
  width: 100% !important;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 40px;
}
.static-modal-content {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex;
}
.static-modal-content h3 {
  font-weight: bold;
  font-size: 20px;
}
.static-modal-content p {
  font-size: 16px;
}
/* ======= Static Modal End ======= */

/* ======= Customer Animated Text Section Start ======= */
.animated-text-container {
  width: 100%;
  height: auto !important;
  background-color: #69093d !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.animated-text-container img {
  width: 30%;
  height: auto;
  margin-top: 50px !important;
}
#customer-section-changing-text {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  font-weight: bolder;
  color: #fff !important;
  flex: 1;
}
.new-span {
  color: #ff4e00 !important;
  font-size: 45px !important;
  font-weight: bolder !important;
}

.animated-text-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #c6b5c7;
}
.animated-text-container span {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  color: #ff4e00;
}

.second-section {
  max-width: 80%;
  height: auto;
}
.lottie {
  width: 100%;
  height: auto;
  margin-left: -150px;
  margin-top: -150px;
  margin-bottom: -150px;
}
.animated-text-container img {
  width: 20%;
  height: auto;
}
/* ======= Customer Animated Text Section End ======= */

/* ======= Customer Feature Section Start ======= */
.customer-section-heading h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.customer-section-heading span {
  color: #69093d !important;
}
#customer-feature-section {
  /* background-color: #e6af88; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.customer-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lottie-box {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: #e0e0e0e0; */
  padding: 10px;
}
.lottie-customer {
  width: 100%;
  height: auto;
}
.customer-feature h3 {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  color: #69093d;
}
.customer-feature p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
/* ======= Customer Feature Section End ======= */

/* ======= TNC Start ======= */
.tnc-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.tnc-content h1 {
  font-weight: 600;
}
.tnc-content h2 {
  font-weight: 600;
  margin-top: 20px;
}
.tnc-content h3 {
  font-weight: bold;
  margin-top: 20px;
}
.tnc-content p {
  font-weight: 400;
  text-align: justify;
}
/* ======= TNC End ======= */

/* ======= Mobile View Start ======= */

/* ===================================================================================================================== */
/* ===================================================================================================================== */
@media only screen and (max-width: 600px) {
  .main-nav {
    display: initial;
  }
  .top-nav {
    display: none !important;
  } /* Navigation Start */
  #about-nav {
    display: none;
  }
  .navbar {
    background-color: #fff !important;
  }
  .navbar-brand img {
    width: 100% !important;
    height: auto !important;
  }
  /* Navigation End */

  /* Banner Start */
  .banner-section {
    flex-direction: column !important;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-section img {
    width: 0% !important;
    height: auto;
  }
  .banner-captions {
    margin-left: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  /* .banner-captions img {
    display: none;
  } */
  .mid-banner-lottie {
    width: fit-content;
    height: auto;
  }
  .banner-captions img {
    width: 30% !important;
    height: auto;
  }
  #brand-logo {
    display: none;
  }
  .banner-captions h1 {
    display: flex;
    text-align: center !important;
    font-size: 36px !important;
  }
  .banner-captions p {
    text-align: center !important;
  }
  /* Banner End */

  /* Customer Animated Section Start */
  .animated-text-container {
    width: 100% !important;
    height: 100% !important;
    background-color: #69093d !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    flex-direction: column !important;
  }
  .animated-text-container img {
    width: 50%;
    height: auto;
    margin-top: 10px;
  }
  .second-section {
    display: none !important;
  }
  /* .static-modal {
    display: none;
  } */
  .customer-section-heading h1 {
    text-align: center;
  }
  /* Customer Animated Section Start */

  /* Static Modal End */
  /* .static-modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */
  .static-modal-mobile {
    flex-direction: column !important;
  }
  #static-modal-lot {
    width: 100% !important;
    height: auto !important;
    margin-left: -50px !important;
  }
  /* Static Modal End */

  /* ======= Footer Start ======= */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px !important;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
  }
  .footer-parts {
    padding-bottom: 30px;
  }
  .footer-parts p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300 !important;
    text-align: left;
  }
  .footer a {
    text-decoration: none;
    color: #fff;
  }

  /* ======= Footer End ======= */
}

/* ======= Mobile View End ======= */
