/* font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif; */

/* ======== Theme Colors ========
#3d3d3d
#FFFFFF
#FEF9E5
#E6AF88
#F4AA79
#C6B5C7
#b88cba
#5E3360 
*/

/* ======= Top Nav Start ======= */
.top-nav {
  padding: 10px;
  background-color: #5e3360;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.top-nav p {
  font-family: "Open Sans", sans-serif;
  margin-right: 20px !important;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.top-nav p:hover {
  font-family: "Open Sans", sans-serif;
  margin-right: 15px !important;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}
/* ======= Top Nav End ======= */

/* ======= Navigation Start ======= */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.main-nav {
  display: none;
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  max-width: 50% !important;
}

.navbar-brand img {
  width: 20% !important;
  height: auto !important;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
}

.nav-item:hover {
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
  color: #5e3360 !important;
  transition: 0.2s ease-in-out !important;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
}

.nav-link:hover {
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
  color: #5e3360 !important;
  transition: 0.2s ease-in-out !important;
}

.dropdown-item {
  font-size: 16px !important;
}

#nav-icon {
  font-size: 20px !important;
  color: #5e3360 !important;
}

/* ======= Navigation End ======= */

/* ======= Main banner Start ======= */
.main-banner {
  padding-bottom: 150px;
  padding-top: 100px;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(170, 130, 172, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
.main-banner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.main-banner img {
  width: 50%;
  height: auto;
}
.main-banner-lottie {
  width: 350px;
  height: 350px;
}
/* ======= Main banner End ======= */

/* ======= Banner Section Start ======= */
.banner-captions {
  margin-left: 20px;
}
.banner-captions img {
  width: 60% !important;
  height: auto;
}
.mid-banner-lottie {
  width: 450px;
  height: 450px;
}
.banner-captions h1 {
  font-family: "Fredoka One", cursive;
  color: #5e3360;
  font-size: 44px !important;
}
.banner-captions p {
  font-size: 20px;
  color: #777;
}

.banner-captions img {
  width: 30%;
  height: auto;
}

#banner-icon {
  font-size: 30px !important;
  margin-left: 10px;
}

#gstore {
  width: 30% !important;
  height: auto;
}
/* ======= Banner Section End ======= */

/* ======= Static Modal Start ======= */
.static-modal {
  background-color: #fff;
  width: 100% !important;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 20px;
}
/* ======= Static Modal End ======= */

/* ======= Customer Animated Text Section Start ======= */

.animated-text-container {
  width: 100%;
  height: 100%;
  background-color: #5e3360 !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.animated-text-container img {
  width: 30%;
  height: auto;
  margin-top: 10px;
}

.changing-content:after {
  content: "Carving chocolates?";
  animation: changetext 40000ms infinite linear;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #fff !important;
  flex: 1;
}
.animated-text-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #c6b5c7;
  margin-top: -10px;
}

@keyframes changetext {
  0% {
    content: "Out of Rashan?";
  }
  10% {
    content: "Lockdown trouble?";
  }
  20% {
    content: "Mood for maggi?";
  }
  30% {
    content: "Out of ingredients?";
  }
  40% {
    content: "Lockdown trouble?";
  }
  50% {
    content: "Mood for maggi?";
  }
  60% {
    content: "Out of Rashan?";
  }
  70% {
    content: "Lockdown trouble?";
  }
  80% {
    content: "Mood for maggi?";
  }
  90% {
    content: "Out of Rashan?";
  }
  100% {
    content: "Lockdown trouble?";
  }
}

.second-section {
  max-width: 80%;
  height: auto;
}
.lottie {
  width: 80%;
  height: auto;
}

/* ======= Customer Animated Text Section End ======= */

/* ======= Customer Feature Section Start ======= */
.customer-section-heading h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.customer-section-heading span {
  color: #5e3360 !important;
}
#customer-feature-section {
  /* background-color: #e6af88; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.customer-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lottie-box {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: #e0e0e0e0; */
  padding: 10px;
}
.lottie-customer {
  width: 100%;
  height: auto;
}
.customer-feature h3 {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  color: #5e3360;
}
.customer-feature p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
/* ======= Customer Feature Section End ======= */

/* ======= App Section Start ======= */
.app-section {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c6b5c7; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.app-section-card {
  flex: 1;
  height: 250px;
  background: rgb(229, 221, 230);
  background: linear-gradient(
    180deg,
    rgba(229, 221, 230, 1) 0%,
    rgba(170, 130, 172, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
  border-radius: 20px;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 100px;
}
.app-section-card h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #5e3360;
  font-size: 24px;
}
.app-section-card#green-card {
  background: rgb(195, 222, 182);
  background: linear-gradient(
    180deg,
    rgba(195, 222, 182, 1) 0%,
    rgba(143, 196, 131, 1) 100%
  );
}
.app-section-card#orange-card {
  background: rgb(222, 202, 182);
  background: linear-gradient(
    180deg,
    rgba(222, 202, 182, 1) 0%,
    rgba(189, 164, 106, 1) 100%
  );
}
/* .app-section {
  background-color: #fef9e5 !important;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-section-content {
  margin-left: 30px;
} */
/* .app-section-mid-content {
  background-color: #b88cba !important;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}
.app-section-mid-content h3 {
  font-size: 24px !important;
  font-weight: bold;
  color: #5e3360;
}
.app-section-mid-content p {
  color: #fff;
} */
/* ======= App Section Start ======= */

/* ======= Footer Start ======= */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px !important;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-parts p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300 !important;
  text-align: left;
}

/* ======= Footer End ======= */

/* ======= Mobile View Start ======= */

@media only screen and (max-width: 600px) {
  .main-nav {
    display: initial;
  }
  .top-nav {
    display: none;
  } /* Navigation Start */
  .navbar {
    background-color: #fff !important;
  }
  .navbar-brand img {
    width: 100% !important;
    height: auto !important;
  }
  /* Navigation End */

  /* Banner Start */
  .banner-section {
    flex-direction: column !important;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-section img {
    width: 50% !important;
    height: auto;
  }
  .banner-captions {
    margin-left: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  /* .banner-captions img {
    display: none;
  } */
  .mid-banner-lottie {
    width: fit-content;
    height: auto;
  }
  .banner-captions img {
    width: 30% !important;
    height: auto;
  }
  #brand-logo {
    display: none;
  }
  .banner-captions h1 {
    display: flex;
    text-align: center !important;
    font-size: 36px !important;
  }
  .banner-captions p {
    text-align: center !important;
  }
  /* Banner End */

  /* Customer Animated Section Start */
  .animated-text-container {
    width: 100% !important;
    height: 100% !important;
    background-color: #5e3360 !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    flex-direction: column !important;
  }
  .animated-text-container img {
    width: 50%;
    height: auto;
    margin-top: 10px;
  }
  .second-section {
    display: none !important;
  }
  .static-modal {
    display: none;
  }
  .customer-section-heading h1 {
    text-align: center;
  }
  /* Customer Animated Section Start */
}

/* ======= Mobile View End ======= */
